# Navigation
alias cds="cd ~/Sites/"
alias cdp="cd ~/Projects/"
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Edit some commonly used files
alias nalias="nano ~/.bash_profile"
alias nhosts="sudo nano /etc/hosts"
alias nssh="nano ~/.ssh/config"

# Get my Ip
alias mip='ipconfig getifaddr en1 | pbcopy && ipconfig getifaddr en1'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Copy my ssh pub key
alias cpssh='cat ~/.ssh/id_ed25519.pub | pbcopy && cat ~/.ssh/id_ed25519.pub'

# Docker
alias dup='docker-compose up -d'
alias ddown='docker-compose down'

alias dontsleep="pmset noidle"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"