# Navigation
alias cdp="cd ~/Projects/"

# Edit some commonly used files
alias nalias="nano ~/.aliases"
alias nhosts="sudo nano /etc/hosts"
alias nssh="nano ~/.ssh/config"

# Get my Ip
# alias mip='ipconfig getifaddr en1 | pbcopy && ipconfig getifaddr en1'
# alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias publicip="curl icanhazip.com"

# Docker
alias dps='docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Status}}"'
alias dupd='docker-compose up -d'
alias ddown='docker-compose down'
alias dlog="docker compose logs -f"
alias dre="docker compose down && docker compose down && docker compose up -d && docker compose logs -f"

# Misc
alias npmlsg="npm ls -g --depth=0"
alias dfh="duf --hide-fs tmpfs,devtmpfs,vfat"
