# Aliases
# Navigation
alias cds="cd ~/Sites/"
alias cdp="cd ~/Projects/"
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Edit some commonly used files
alias nalias="nano ~/.aliases"
alias nhosts="sudo nano /etc/hosts"
alias nssh="nano ~/.ssh/config"

# Get my Ip
alias mip='ipconfig getifaddr en1 | pbcopy && ipconfig getifaddr en1'
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"

# Copy my ssh pub key
alias cpssh='cat ~/.ssh/id_ed25519.pub | pbcopy && cat ~/.ssh/id_ed25519.pub'
alias cpsshgen='echo "ssh-keygen -o -a 100 -t ed25519 -f ~/.ssh/id_ed25519" | pbcopy'

# Docker
alias dup='docker-compose up -d'
alias ddown='docker-compose down'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# Misc
alias free="df -P -kHl"
alias dontsleep="pmset noidle"
alias restartbrowser="adb shell am force-stop com.oculus.browser"
alias npmlsg="npm ls -g --depth=0"

# Antibody
alias genplugins="antibody bundle < ~/.zsh_plugins.txt > ~/.zsh_plugins.sh"